@font-face {
  font-family: "SeoulNamsan";
  src: url("../fonts/SeoulNamsanM.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "OngleipRyudung";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}
.font-sans {
  font-family: "SeoulNamsan" !important;
}

.handwriting {
  font-family: "OngleipRyudung";
}